<!DOCTYPE html>
<html lang="de">

<head>

  <meta charset="utf-8">
  <style type="text/css">
    h1 {
      color: maroon;
      font-family: fantasy;
      padding-top: 1cm;
      padding-left: 22cm;
    }

    body {
      background-color: rosybrown;
    }

    pre {
      font-size: larger;
      padding-top: 1cm;
      padding-left: 22cm;
    }

    nav {
      font-size: x-large;
      padding-left: 2cm;
    }

    h2 {
      padding-top: 2cm;
      padding-left: 20cm;
    }
  </style>

  <title>Meine Webseite</title>


</head>

<body>

  <h1>Zweiter Versuch</h1>

  <nav>
    <ul>
      <li><a href="#">Seite 1</a></li>
      <li><a href="#">Seite 2</a></li>
      <li><a href="#">Seite 3</a></li>
      <li><a href="#">Seite 4</a></li>
    </ul>
  </nav>


  <p style="color: darkblue; margin-left: 21cm; margin-top: 1cm; font-size: larger;">
    Ansich scheint es erstmal nicht so schwer. Ich habe mich getäuscht. <br />Und es sind unglaublich viele Infos...!!!
  </p>


  <p><img src="../assets/images/Alte_Bank.jpeg" style="float:right;width:400px;height:400px;"></p>
  <p><img src="../assets/images/Canyon_Lengerich.jpeg" style="float:left;width:400px;height:400px;"></p>

  <pre><ins>CSS Datei <strong>nicht</strong> im Body Bereich.<br/> NUR IM HEAD BEREICH !!!</ins></pre>

  <h2>Der float Befehl ist irgendwie kompliziert....<br>weil er in Verbindung mit clear benutzt werden soll. <br>
    Versteh nur Bahnhof. Deshalb mußte ich jetzt den float Befehl<br> in die Linie schreiben. Scheiße !!!</h2>





</body>


</html>
